@font-face {
    font-family: "Roboto";
    src: url("/assets/hostedProjects/lazGamba/assets/fonts/Roboto-Regular.ttf"); /* Cause for some reason i cant use a period infront of it.*/
}


body {
    padding: 0;
    background-color: #8d83d4;
}

html, body {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

button {
    transition: background 0.3s;
    cursor: pointer;

    background-color: #f13ce8;
    color: #FFF;
    transition: background 0.3s;
}

#gambaBtn {
    margin: 8px;
    min-width: 125px;
    width: auto;
    height: 50px;
    border: none;
    border-radius: 15px;
   
    font-size: 32px;
}

#purchaseCaseBtn {
    /* margin: 8px; */
    min-width: 60px !important;
    /* width: auto; */
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transform: translateY(10000%);
}


#sideButtons {
    position: fixed;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 200;
    display: flex;
    justify-content: space-between;
}

#changeCaseleft {
    transform: translateY(10000%); /*this is like the only way to make it go bye bye*/
}

#gambaCost {
    opacity: 0.4;
    font-size: medium;
}

#changeCaseRight,
#changeCaseleft {
    margin: 8px;
    min-width: 50px;
    height: 45px;
    border: none;
    border-radius: 15px;
    font-size: 32px;
    transition: background 0.3s;
    cursor: pointer;
    background-color: #f13ce8;
    color: #FFF;
}

#changeCaseleft:hover,
#changeCaseRight:hover,
#gambaBtn:hover {
    background: #d823cf;
}


#gambaBtn[disabled] {
    background-color: #707070;
    cursor: not-allowed;
    position: relative;
}

#gambaBtn[disabled]::after {
    content: "🔒";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    pointer-events: none;
}


#gambaStatus {
    min-height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    justify-content: center; 
    height: 100%; 
}

#currencyContainer {
    position: fixed;
    top: 10px;       
    right: 10px;     
    z-index: 100;   
    text-align: right; 
}

#coinLabel {
    /* position: fixed; */
    top: 10px;      
    right: 10px;    
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px 10px; 
    border-radius: 5px; 
    z-index: 100; 
}


#resetLabel {
    font-size: 0.9rem;  
    color: rgb(165, 165, 165);      
    margin-top: 5px;   
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
    padding: 2px 8px;  
}

#caseName {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 0.75;
}

#top {
    position: fixed;
    top: 0px;
    
    z-index: 100;
    text-align: right;

    align-content: center;
    display: flex;
    flex-direction: column;
}


.notUnlocked {
    background-color: #707070 !important;
}

.mainItems {
    margin-top: 10px;
    margin-bottom:10px;
}

h1 {
    color:#FFF
}